@import play.data.Form
@(title: String)
@main(title) {
		<!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer mainbg">
            <h1><img src="@routes.Assets.at("images/target-icon-small.png")" alt="Organizations" /><b>T</b>argeted <b>A</b>dvertising <b>N</b>etwork</h1>
            <p>This is a thesis proposal for Ontology driven targeted advertisements network in Warsaw University of Technology. Please refer to "More info Here" in order to better understand the idea of the project.</p>
            <p><a class="btn btn-primary btn-large">More Info Here!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Current System's Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="@routes.Assets.at("images/Org.jpg")" alt="Organizations">
                    <div class="caption">
                        <h3>Organizations</h3>
                        <p>Here you can manage Organization entities within the ontology. Currently only creation and viewing features are implemented. Please refer to more info in order to better understand the system and its features.</p>
                        <p>
                            <a href="/view/Organization" class="btn btn-primary">Manage!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="@routes.Assets.at("images/consumer.jpg")" alt="Consumers">
                    <div class="caption">
                        <h3>Consumers</h3>
                        <p>Here you can manage Consumers entities within the ontology. Currently only creation and viewing features are implemented. Please refer to more info in order to better understand the system and its features.</p>
                        <p>
                            <a href="/view/Consumer"class="btn btn-primary">Manage!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="@routes.Assets.at("images/categories.jpg")" alt="Categories">
                    <div class="caption">
                        <h3>Categories</h3>
                        <p>Here you can manage offer categories or consumer's interests within the ontology. Currently only creation and viewing features are implemented. Please refer to more info in order to better understand the system and its features.</p>
                        <p>
                            <a href="/view/Category" class="btn btn-primary">Manage!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="@routes.Assets.at("images/audiences.jpg")" alt="Audience">
                    <div class="caption">
                        <h3>Targets</h3>
                        <p>Here you can manage Targets within the ontology. Currently only creation and viewing features are implemented. Please refer to more info in order to better understand the system and its features.</p>
                        <p>
                            <a href="/view/Target" class="btn btn-primary">Manage!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->   
}