logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
patches
/bin/
public/javascripts/onto-react

configuration/uploads/check\.owl

configuration/uploads/catalog-v001\.xml
