/* -----------------------------------------------------------
	main stylesheet
----------------------------------------------------------- */
html
{
	height: 100%;  
}

body
{
	margin: 0;
	padding: 0;
	height: 100%;
	
	background: #d1d1d1 url("../images/background.png") repeat;
	
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
}

label , .class-uri , .condition-panel,input[type=button]{
margin:10px;
}

select{
margin:5px;
}
/* -----------------------------------------------------------
	images
----------------------------------------------------------- */ 

img
{
	border: none;	
}

/* -----------------------------------------------------------
	anchors
----------------------------------------------------------- */ 

a
{
	color: #0066CC;	
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	color: #000000;	
	text-decoration: underline;
}

/* -----------------------------------------------------------
	headings
----------------------------------------------------------- */ 

h1, h2, h3, h4, h5, h6
{
	color: #292929;
	font-weight: bold;
}

h1
{
	font-size: 22px;
}

h2
{
	font-size: 20px;
}

h3
{
	font-size: 18px;  
}

h4
{
	font-size: 16px;
}

h5
{
	font-size: 14px; 
}

h6
{
	font-size: 11px; 
}

/* -----------------------------------------------------------
	lists
----------------------------------------------------------- */ 

ul.circle { list-style-type: circle; }
ul.disc { list-style-type: disc; }
ul.square { list-style-type: square; }
ol.lower-roman { list-style-type: lower-roman; }
ol.upper-roman { list-style-type: upper-roman; }
ol.lower-alpha { list-style-type: lower-alpha; }
ol.upper-alpha { list-style-type: upper-alpha; }
ol.decimal  { list-style-type: decimal; }

/* -----------------------------------------------------------
	colors
----------------------------------------------------------- */ 

div.color
{
	right: 0;
	margin: 116px 13px 0 0;
	padding: 0 4px 4px 4px;
	clear: both;
	overflow: hidden;
	position: absolute;
	background: #ffffff;
	border: 1px solid #cccccc;
}

div.color a
{
	margin: 4px 0 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	display: block;
}

div.color a.blue
{
	background: #376ea6;
}



/* -----------------------------------------------------------
	header
----------------------------------------------------------- */ 

#header
{
	margin: 0;
	padding: 10px 60px 0 60px;
	background: #b0b0b0 url("../images/header_background.png") repeat;
}

/* -----------------------------------------------------------
	header -> logo
----------------------------------------------------------- */ 



#header #logo h1
{
	margin: 6px 0 10px 0;
	padding: 0;
	color: #ffffff;
	font-size: 22px;
}




/* -----------------------------------------------------------
	header 
----------------------------------------------------------- */ 
#header #header-inner
{
	margin: 0;
	padding: 0;
	height: 40px;
	clear: both;
	position: relative;
	background: #003367 url("../images/colors/blue/header_inner.png") repeat-x;
	border-bottom: 6px solid #ffffff;
}

/* -----------------------------------------------------------
	header -> home
----------------------------------------------------------- */ 

#header #header-inner #home
{
	float: left;	
}

#header #header-inner #home a
{
	margin: 0;
	padding: 0;
	height: 40px;
	width: 46px;
	display: block;
	background: url("../images/colors/blue/button_home.png");

	background-position: 0 0;	
}

#header #header-inner #home a:hover
{
	background-position: 0 -40px;	
}

/* -----------------------------------------------------------
	header -> quick
----------------------------------------------------------- */ 

#header #header-inner #quick,
#header #header-inner #quick ul
{
	margin: 10px 5px 0 0;
	padding: 0;
	position: relative;
	float: right;
	list-style-type: none;
	list-style-position: outside;
}

#header #header-inner #quick li
{
	margin: 0 5px 0 0;
	padding: 0;
	position: relative;
	float: left;
}

#header #header-inner #quick li a
{
	top: 0;
	left: 0;
	padding: 0;
	height: 1%;
	display: block;
	clear: both;
	overflow: hidden;
	background: #336699 url("../images/colors/blue/quick_l.png") no-repeat top left;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#header #header-inner #quick li span
{
	top: 0;
	right: 0;
	margin: 0;
	padding: 10px 12px 8px 10px;
	height: 1%;
	display: block;
	float: left;
	background: url("../images/colors/blue/quick_r.png") no-repeat top right;
	border-left: 1px solid #3f6f9f;
}

#header #header-inner #quick li span.normal
{
	padding: 10px 12px 8px 12px;
	border: none;	
}

#header #header-inner #quick li span.icon
{
	top: 0;
	left: 0;
	padding: 8px 8px 4px 8px;
	background: url("../images/colors/blue/quick_l.png") no-repeat top left;
	border-left: none;
	border-right: 1px solid #2e5c89;
}

#header #header-inner #quick li a:hover
{
	background: #4e4e4e url("../images/colors/blue/quick_l_selected.png") no-repeat top left;
}

#header #header-inner #quick li a:hover span
{
	background: url("../images/colors/blue/quick_r_selected.png") no-repeat top right;
	border-left: 1px solid #545454;
}

#header #header-inner #quick li a:hover span.normal
{
	border: none;	
}

#header #header-inner #quick li a:hover span.icon
{
	background: url("../images/colors/blue/quick_l_selected.png") no-repeat top left;
	border-left: none
	border-right: 1px solid #464646;
}

#header #header-inner #quick ul
{
	top: 29px;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	display: none;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #666;
	border-top: 1px solid #003367;
	z-index: 100;
}

#header #header-inner #quick li ul li
{
	border-bottom: 1px solid #dddddd;	
}

#header #header-inner #quick li ul li.last
{
	border: none;	
}

#header #header-inner #quick li ul li a
{
	margin: 0;
	padding: 7px 9px 7px 9px;
	height: 1%;
	width: 182px;
	height: auto;
	display: block;
	float: left;
	background: #FFFFFF;
	color: #0066CC;
	font-weight: normal;
}

#header #header-inner #quick li ul li a.childs
{
	margin: 0;
	padding: 7px 9px 7px 24px;
	width: 167px;
	background: #FFFFFF url("../images/plus.png") no-repeat 8px 9px;
}

#header #header-inner #quick li ul li a:hover
{
	color: #000000;
	background: #FFFFFF;
}

#header #header-inner #quick li ul li a.childs:hover
{
	background: #FFFFFF url("../images/minus.png") no-repeat 8px 9px;
}

#header #header-inner #quick ul ul 
{
	top: auto;
}	

#header #header-inner #quick li ul ul 
{
	right: 200px;
}

#header #header-inner #quick li:hover ul ul, 
#header #header-inner #quick li:hover ul ul ul, 
#header #header-inner #quick li:hover ul ul ul ul 
{
	display: none;
}

#header #header-inner #quick li:hover ul, 
#header #header-inner #quick li li:hover ul, 
#header #header-inner #quick li li li:hover ul, 
#header #header-inner #quick li li li li:hover ul
{
	display: block;
}

/* -----------------------------------------------------------
	header corners
----------------------------------------------------------- */ 

#header #header-inner div.corner
{
	height: 6px;
	width: 6px;
	position: absolute;
	background: url("../images/colors/blue/header_inner_corners.png") no-repeat;
}

#header #header-inner div.tl
{
	top: 0;
	left: 0;
	background-position: 0 0;
}

#header #header-inner div.tr
{
	top: 0;
	right: 0;
	background-position: -6px 0;
}

/* -----------------------------------------------------------
	content
----------------------------------------------------------- */ 

#content 
{
	margin: 10px 0 10px 0;
	padding: 0;
	min-height: 80%;
	clear: both;
	overflow: hidden;
	background: url("../images/content.png") repeat-y top left;
}





/* -----------------------------------------------------------
	content -> right
----------------------------------------------------------- */ 

#content #right
{
	margin: -10px 60px 0 290px;
	padding: 0;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> right -> box
----------------------------------------------------------- */

#content div.box
{
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
	clear: both;
	overflow: hidden;
	background: #ffffff;
}

#content div.box-left
{
	width: 49%;
	clear: none;
	float: left;	
}

#content div.box-right
{
	width: 49%;
	clear: none;
	float: right;	
}

/* -----------------------------------------------------------
	content -> right -> box / title
----------------------------------------------------------- */

#content div.box div.title
{
	margin: 0 0 20px 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	background: #336699 url("../images/colors/blue/title.png") repeat-x;
}

#content div.box div.title h1,
#content div.box div.title h2,
#content div.box div.title h3,
#content div.box div.title h4,
#content div.box div.title h5,
#content div.box div.title h6
{
	margin: 0;
	padding: 11px 0 11px 10px;
	float: left;
	border: none;
	color: #ffffff;
}

#content div.box div.title ul.links
{
	margin: 0;
	padding: 0;
	float: right;
}

#content div.box div.title ul.links li
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

#content div.box div.title ul.links li a
{
	margin: 0;
	padding: 13px 16px 12px 16px;
	height: 1%;
	display: block;
	float: left;
	background: url("../images/colors/blue/title_link.png") no-repeat top left;
	border-left: 1px solid #316293;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#content div.box div.title ul.links li a:hover
{
	background: url("../../images/colors/blue/title_tab_selected.png") no-repeat bottom center;
	color: #bfe3ff;
}

#content div.box div.title ul.links li.ui-tabs-selected a
{
	background: url("../../images/colors/blue/title_tab_selected.png") no-repeat bottom center;
	color: #bfe3ff;
}

/* -----------------------------------------------------------
	content -> right -> box / search
----------------------------------------------------------- */ 

#content div.box div.title div.search
{
	margin: 0;
	padding: 6px 6px 6px 7px;
	float: right;
	background: url("../images/colors/blue/title_link.png") no-repeat top left;
	border-left: 1px solid #316293;
}

#content div.box div.title div.search div.input
{
	float: left;	
}

#content div.box div.title div.search div.input input
{
	margin: 0;
	padding: 5px 7px 4px 7px;
	background: #FFFFFF;
	border: 1px solid #316293;
	color: #000000;
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
}

#content div.box div.title div.search div.button
{
	float: left;	
}

#content div.box div.title div.search div.button input
{
	margin: 0;
	color: #000000;
	font-size: 1.0em; 
	font-weight: bold;
	font-family: Verdana, Helvetica, Sans-Serif; 
}

#content div.box div.title div.search div.button input.ui-state-default
{
	margin: 0;
	padding: 4px 12px 5px 12px;
	overflow: hidden;
	background: #4e85bb url("../images/colors/blue/button_highlight.png") repeat-x;
	border: 1px solid #316293;
	border-left: none;
	color: #FFFFFF;
	outline: none;
	outline-style: none;
}

#content div.box div.title div.search div.button input.ui-state-hover
{
	margin: 0;
	background: #46a0c1 url("../images/colors/blue/button_highlight_selected.png") repeat-x;
	border: 1px solid #316293;
	border-left: none;
	color: #FFFFFF;
}

/* -----------------------------------------------------------
	content -> right -> box / messages
----------------------------------------------------------- */ 

#content div.messages
{
	margin: 0 20px 0 20px;
	padding: 0;
	clear: both;
	overflow: hidden;
}

#content div.message
{
	margin: 0 0 10px 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}

#content div.message div.image
{
	margin: 2px 0 2px 5px;
	padding: 6px;
	float: left;
}

#content div.message div.image img
{
	margin: 0;
	vertical-align: middle;
}

#content div.message div.text
{
	margin: 0;
	padding: 10px 6px 10px 6px;
	float: left;
}

#content div.message div.dismiss
{
	margin: 0;
	padding: 0;
	float: right;
}

#content div.message div.dismiss a
{
	margin: 15px 14px 0 0;
	padding: 0;
	height: 16px;
	width: 16px;
	display: block;
	background: url("../images/icons/cross.png") no-repeat;
}

#content div.message div.text h1,
#content div.message div.text h2,
#content div.message div.text h3,
#content div.message div.text h4,
#content div.message div.text h5,
#content div.message div.text h6
{
	margin: 0;
	padding: 0px;
	border: none;
}

#content div.message div.text span
{
	margin: 0;
	padding: 5px 0 0 0;
	height: 1%;
	display: block;
}

#content div.message-error
{
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #FBE3E4;
	border: 1px solid #FBC2C4;
	color: #860006;
}

#content div.message-error h6
{
	color: #860006;
}

#content div.message-warning
{
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #FFF6BF;
	border: 1px solid #FFD324;
	color: #5f5200;
}

#content div.message-warning h6
{
	color: #5f5200;
}

#content div.message-notice
{
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #8FBDE0;
	border: 1px solid #6BACDE;
	color: #003863;
}

#content div.message-notice h6
{
	color: #003863;
}

#content div.message-success
{
	height: 1%;
	clear: both;
	overflow: hidden;
	background: #E6EFC2;
	border: 1px solid #C6D880;
	color: #4e6100;
}

#content div.message-success h6
{
	color: #4e6100;
}



/* -----------------------------------------------------------
	footer
----------------------------------------------------------- */

#footer
{
	margin: 0;
	padding: 5px 0 5px 0;
	clear: both;
	overflow: hidden;
	background: #2a2a2a;
	text-align: right;
}

#footer p
{
	margin: 0 60px 0 60px;
	padding: 10px 0 10px 0;
	color: #ffffff;
}


