#{extends 'main.html' /}
#{set title:'Waiting for replies.' /}

<h1>Conversation: ${conversationId}</h1>
<div id="replies"><h2>Please enter the description of the job you would like to schedule:</h2>
#{form @JobExecution.sendJobDescription(), id:'contract'}
		<div class='class-condition'>
			<div class='class-name'>${owlClass.getLocalName()}</div>
			<div class='class-uri'>${owlClass.getUri()}</div>
			#{individual class:owlClass, id:1 /}
				<input type='hidden' id='conversationId' name='conversationId' value="${conversationId}"/>
				<input type='hidden' id='conditionJson' name='conditionJson' />
				<input type='submit' value="Update" />
		</div>
#{/form}</div>
<script type="text/javascript">
$('#contract').submit(function(event){
	var classConditionPanel = $('.class-condition');
	var condition = QB.buildCondition($('.class-uri', classConditionPanel).html(), classConditionPanel);
	$('#conditionJson').val(JSON.stringify(condition));
	console.log($('#conditionJson').val());	
});
</script>