@import models.ontologyModel.OntoClass
@import play.data.Form



@(owlClass: OntoClass)


@main(owlClass.getLocalName()) {

<div class='content'>
	@*@(mainForm:Form[String])*@
	<div class="box">
				<div class="title">
					<h5>@owlClass.getLocalName()</h5>
				</div>
				
	
			<div class='class-condition'>

			@*<div class='class-name'>@owlClass.getLocalName()</div>*@
			<input type='hidden'  id='className' name='class-name' value="@owlClass.getLocalName()"/>
			<div class='class-uri'>@owlClass.getUri()</div>
			<br/>
		<label>Individual name1: </label> <input id="individualName" name="individualName" type="text" required="required"/><br><br>
			
			@individual(owlClass, "1")
			
				<input id='submit' type='button' value="Update" />
		</div>
	
	</div>		
</div>


<script type="text/javascript">
$(function(){
	//try { console.log('init console...'); } catch(e) { console = { log: function() {} } };
	
	function validate(){
		alert('@owlClass.getLocalName()');
		if(@owlClass.getLocalName()!="Worker"){
			return true;}
		alert('asd');
		return false;
		
	}
		
	$('#submit').click(function(event){
		alert('asd');
		event.preventDefault();
			
		var classConditionPanel = $('.class-condition');
		var condition = QB.buildCondition($('.class-uri', classConditionPanel).html(), classConditionPanel);
	
		var conditionJson=JSON.stringify(condition);
		var individualName=$('#individualName').val();
		
		function getError(err){
			return '<div id="message-error" class="message message-error">'+
			'<div class="image">'+
				'<img src="../../assets/images/icons/error.png" alt="Error" height="32" />'+
			'</div>'+
			'<div class="text">'+
				'<h6>Error Message</h6>'+
				'<span>'+err+'</span>'+
			'</div>'+
			'<div class="dismiss">'+
					'<a class="dismiss" href=""></a>'+
			'</div>'+
		'</div>'
			
		}
		
		/*if(individualName==""){
			alert("Please enter the individual name");
		}
		else{
		$.ajax(jsRoutes.controllers.samples.Organization.updateConditions(conditionJson,individualName))
			.done( function(data){
				if(data=='ok'){
					window.location.href="/view/@owlClass.getLocalName()";}
				else {
					alert('Error');
				}
			})
			.fail( function(){
				alert('Error');
			});
		
		}*/
		//console.log($('#conditionJson').val());	
		//event.preventDefault();
	});
});
	
</script>
}
    
