<div class='condition-panel' id='condition-${_id}'>
<div class='remove-condition'><a href='#'>remove</a></div>
#{select 'property-select', items:_class.getProperties(),
valueProperty:'uri', labelProperty:'localName', class:'property-select'}
#{option 'off'}Select a property#{/option} #{/select}

<div class='property-condition'></div>

</div>
<div class='condition-operator'><a href='#'>and</a></div>

<script type='text/javascript'>
$(function(){
	$('#condition-${_id}>.remove-condition').hide();

	$('#condition-${_id}+.condition-operator>a').bind('click', function(event){
		var classUri = '${_class.getUri()}';

		var getValueConditionAction = #{jsAction @Constraints.condition(':conditionId', ':classUri') /}
		   
		$.get(getValueConditionAction({
					conditionId:${_id}, 
					classUri:encodeURIComponent(classUri)			
				}), function(data){
					$('#condition-${_id}+.condition-operator>a').hide();
					$('#condition-${_id}+.condition-operator').after(data);
					$('#condition-${_id}>.remove-condition').show();
		});
		return false;
	});

	$('#condition-${_id}>.remove-condition>a').bind('click', function(event){
		$('#condition-${_id}').remove();		
		return false;
	});

	var select = $('#condition-${_id} .property-select');
	$('#condition-${_id} .property-select').bind('change', function(event){
		var propertyUri = $(':selected', select).val();
		console.log(propertyUri);
		if(propertyUri === 'off'){
			$('#condition-${_id} .property-condition').html('');
			return;
		}
		
		var getPropConditionAction = #{jsAction @Constraints.getPropertyCondition(':conditionId', ':classUri', ':propertyUri') /}
		   
		$('#condition-${_id} .property-condition').load(getPropConditionAction({
			conditionId:${_id},
			classUri:encodeURIComponent('${_class.getUri()}'),
			propertyUri:encodeURIComponent(propertyUri)
		}));
	});
});
</script>