@import play.data.Form 
@import ontoplay.models.ontologyModel.OntoClass 
@import java.util.ArrayList
@import models.tan.IndividualViewModel
@import models.tan.Target

@(individual :IndividualViewModel, target: Target)
@main(individual.getLocalName()) {
<!-- Heading Row -->
<div class="row">
	        <div class="panel panel-default">
				<div class="panel-heading">@individual.getName() | @individual.getUri() <a class="btn btn-danger btn-xs pull-right" href="/remove/@individual.getLocalName()/@individual.getClassUri()" data-toggle="tooltip" title="Delete Individual" data-placement="bottom"><span class="danger glyphicon glyphicon-remove-sign"></span></a></div>
					<div class="panel-body">
						<div class="row">
				            <div class="col-md-4">
				                <img class="img-thumbnail" src="@routes.Assets.at(individual.getImage())" alt="">
				            </div>
				            <!-- /.col-md-8 -->
				            <div class="col-md-2"></div>
				            <div class="col-md-5">
				                		<p>@individual.getDescription()</p>                
							                @for((key, value) <- individual.getFunctionalData()) {
												<p>@key: @value.getLexicalForm()</p>
											}
											@for((key, value) <- individual.functionalObjectValues) {
												<p>@key: <a href="/individual/@value.getLocalName()">@value.getLocalName()</a></p>
											}
											
											@if(target.hasOffer()) {
												@if(target.offerSent()) {
														<a href="#" class="btn btn-success" disabled="true">Offer Sent</a>
												}else{
														<a href="@target.getOfferURI()" class="btn btn-warning" >Send Offer</a>
													}
												
											}else {
												<a href="#" class="btn btn-danger" disabled="true">Target has no associated Offers</a>
											}
				            </div>
				          </div>
			            <!-- /.col-md-4 -->
			
<hr>
        
<fieldset class="scheduler-border">
<legend class="scheduler-border">Statistics</legend>
	<div class="panel panel-default panel-danger">
		<div class="panel-heading">Interests <span class="badge">@target.interests.size()</span><a href="#" class="btn btn-danger btn-xs pull-right" data-toggle="tooltip" title="Export Interests Data"  ><span class="glyphicon glyphicon-circle-arrow-down"></span></a></div>
			<div class="panel-body">
				<div class="table-responsive">
        			@if(target.interests.size() > 0){
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th>Interest Name</th>
									<th>Interested People</th>
									<th>Average Level Of Interest</th>
									<th>Minimum Level</th>
									<th>Maximum Level</th>
								</tr>
							</thead>
							<tbody>
							@for((value) <- target.interests) {	
								<tr @value.getColor()>
									<td><a data-toggle="tooltip" data-placement="top" title="View Individual" href="/individual/@value.URI"><span class="glyphicon glyphicon-eye-open"></span></a></td>
									<td>@value.Name</td>
									<td>@value.Percentage%</td>
									<td>@value.Average%</td>
									<td>@value.Minimum%</td>
									<td>@value.Maximum%</td>
								</tr>
																}
							</tbody>
						</table>
						}
		</div></div></div>
		
		
	<div class="panel panel-default panel-danger">
		<div class="panel-heading">Properties <span class="badge">@target.properties.size()</span><a href="#" class="btn btn-danger btn-xs pull-right" data-toggle="tooltip" title="Export Properties Data" ><span class="glyphicon glyphicon-circle-arrow-down"></span></a></div>
			<div class="panel-body">
				<div class="table-responsive">
@if(target.properties.size() > 0){
							@for((key, value) <- target.properties) {
							<table class="table table-hover">
							<caption>@key</caption>
							<thead>
								<tr>
									<th>Value</th>
									<th>Percentage</th>
								</tr>
							</thead>
							<tbody>
							@for((kP, vP) <- value.PropValues) {
								<tr>
									<td>@kP</td>
									<td>@vP%</td>
								</tr>
								}										
							</tbody>
						</table>}
	}
</div></div></div>	
</fieldset>

	
        <hr>
<fieldset class="scheduler-border">
	<legend class="scheduler-border">Relations</legend>
@if(individual.nonFunctionalDataValues.size() > 0){
		@for((key, value) <- individual.nonFunctionalDataValues) {	
		<div class="panel panel-default">
		<div class="panel-heading">@key <span class="badge">@value.size()</span></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Values</th>
							</tr>
						</thead>
						<tbody>
						@value.map{i=>
							<tr><td>@i.getLexicalForm()</td></tr>
							}
						</tbody>
					</table>
				</div></div></div>
		}
	    <hr>
	}
    
@if(individual.nonFunctionalObjectValues.size() > 0){
@for((key, value) <- individual.nonFunctionalObjectValues) {
		<div class="panel panel-default">
		<div class="panel-heading">@key <span class="badge">@value.size()</span></div>
			<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Local Name</th>
					<th>Uri</th>
				</tr>
			</thead>
			<tbody>
				@value.map{i=>
					<tr>
					<td><a data-toggle="tooltip" data-placement="top" title="View Individual" href="/individual/@i.getLocalName()"><span class="glyphicon glyphicon-eye-open"></span></a></td>
					<td>@i.getLocalName()</td>
					<td>@i.getURI()</td>
				</tr>
				}
				
			</tbody>
		</table>
	</div></div></div><hr>
	}
</fieldset>
	}</div></div></div></div>
}