@import ontoplay.models.ontologyModel.OntoClass
@import java.util.ArrayList

@(conditionId : Integer, classes : ArrayList[OntoClass], isDescriptionOfIndividual : Boolean)
<div class='class-panel'>
	<select name='class-select' class='class-select form-control'>
		<option value='off'>Select a class</option>
		@classes.map{c =>
			<option value='@c.getUri()'>@c.getDisplayName()</option> 
		}
	</select>
</div>
<div class='constrained-value'></div>
<script type='text/javascript'>
	$(function(){
	var select = $('#condition-@conditionId .class-select');
	select.bind('change', function(event){
		var classUri = $(':selected', select).val();
		if(classUri === 'off'){
			$('#condition-@conditionId .constrained-value').html('');
			return;
		}

		@if(isDescriptionOfIndividual){
			var getValueConditionAction = jsRoutesOntoPlay.ontoplay.controllers.Constraints.individual(@conditionId, classUri);
			
		} else{
 			var getValueConditionAction = jsRoutesOntoPlay.ontoplay.controllers.Constraints.condition(@conditionId, classUri);
		}

		$.ajax(getValueConditionAction)
		.done( function(data){
			$('#condition-@conditionId .constrained-value').html(data);
		})
		.fail( function(){
			alert('ERRORROROROR!!!');
		});
	});
});
</script>
