@(conditionId: Integer, classUri: String, propertyUri: String, isDescriptionOfIndividual: Boolean)

@* add a condition to check if you want to select and individual or add a new object *@
<select name='operator-select' class='operator-select form-control' >
    <option value='off'>Select an operator</option>
	<option value='equalToIndividual'>is equal to individual </option>
	@if(isDescriptionOfIndividual) {
		<option value='describedWith'> is described with </option> 
	} else {
		<option value='constrainedBy'> is constrained by </option>
	}
</select>
<div class='value-condition'></div>
<script type='text/javascript'>
	//console.log('class: @classUri. prop: @propertyUri');
	$(function(){
	var select = $('#condition-@conditionId .operator-select');
	//console.log(select);
	select.bind('change', function(event){
		var operator = $(':selected', select).val();

		console.log(operator);

		if(operator === 'off'){
			$('#condition-@conditionId .value-condition').html('');
			return;
		}		

		jsRoutesOntoPlay.ontoplay.controllers.Constraints.getValueCondition('@conditionId', '@classUri', '@propertyUri', operator).ajax({
			success: function (data) {
				$('#condition-@conditionId .value-condition').html(data);
			},
			error: function(){
				alert('ERRORROROROR!!!')
			}
		});
	});
});
</script>