/** Main layout **/


.individualName
{
	margin-top:0px
}

#user{
	float:right;
	margin-right:0px;
}

.content{
	width: 100%;
}

.condition-panel{	
	border: 2px solid gray;
	padding: 5px 5px 5px 5px;
	margin: 5px;
}

.property-condition{
	display: inline;	
}

.condition-input{
	margin: 5px;
}

.condition-operator{
	float: right;
	margin-right: 10px;	
}

.condition-internal-operator{
	float: right;
	clear: both;
	margin-top: 15px; 
	margin-right: 10px;		
	/* margin-top: 20px; */
}

.group-operator{
	margin-left: 10px;
	margin-bottom: 5px;
}

.remove-condition{
	float: right;
	margin-right: 10px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-widget { font-size: 0.8em; }


/** Login **/

#login form {
    background: #364B66 !important;
    border: 3 !important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
    color:#fff !important;
    font-size: 110% !important;
}


#remember-field {
    display: none;
}

.annotationPropertyClass{
	color:red;
}