
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.not-allowed     { cursor: not-allowed; }

.mainbg {
}

table
{
	border-spacing:1px;	
}

.img-center {
	margin: 0 auto;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;

footer {
    margin: 50px 0;
}

