@import ontoplay.models.ontologyModel.OntoClass
@import play.data.Form

@(owlClass: OntoClass, boxId: String)
<div>
<form class="form-inline">
<div class='condition-panel' id='condition-@boxId'>
	<div class='remove-condition'><a href='#'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
		<select name="property-select" class='property-select form-control' >
	        <option value="off">Select a property</option>
	    	@owlClass.getProperties().map { p =>
	    		@if(p.getLabel){
	            	<option value="@p.getUri()">@p.getLabel()</option>
	           } else {
	           		<option value="@p.getUri()">@p.getLocalName()</option>
	           } 	
	        }
	    </select>	
	<div class='property-condition'></div> @* the div where is described with or individal is displayed*@ 
</div>

<div class='condition-operator'><a href='#'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
</form>
</div>
<script type='text/javascript'>
$(function(){
	var classUri = "@owlClass.getUri()";

	<!-- TODO: Refactor this into some jQuery module or at least move to separate js file-->
	$('#condition-@boxId>.remove-condition').hide();

	$('#condition-@boxId+.condition-operator>a').bind('click', function(event){
		jsRoutesOntoPlay.ontoplay.controllers.Constraints.individual(@boxId, classUri).ajax({
			success: function (data) {
				
				$('#condition-@boxId+.condition-operator>a').hide();
				$('#condition-@boxId+.condition-operator').after(data);
				$('#condition-@boxId>.remove-condition').show();
			},
			error: function(){
				alert('ERRORROROROR!!!')
			}
		});
		   		
		return false;
	});

	$('#condition-@boxId>.remove-condition>a').bind('click', function(event){
		$('#condition-@boxId').remove();
		return false;
	});

	var select = $('#condition-@boxId .property-select');
	
	$('#condition-@boxId .property-select').bind('change', function(event){
		
		var propertyUri = $(':selected', select).val();
		//console.log(propertyUri);
		if(propertyUri === 'off'){
			$('#condition-@boxId .property-condition').html('');
			return;
		}
		
		$.ajax(jsRoutesOntoPlay.ontoplay.controllers.Individuals.getPropertyCondition(@boxId, classUri, propertyUri))
			.done(function(data){
				$('#condition-@boxId .property-condition').html(data);
			})
			.fail(function(e){
				alert("Error! " + e);
			})
	});
});
</script>